/**
 * CSS: Basics
 * https://developer.mozilla.org/en-US/docs/Web/CSS
 *
 */

body {
    margin: 60px auto;
    width: 70%;
    box-sizing: border-box;

}

h1 {
    font-family: 'IBMPlexMono-Bold';
    font-size: 2.3em;
    color: black;
}

h2 {
    font-family: 'IBMPlexMono-Bold';
    font-size: 1.4em;
    color: blue;
}

h3 {
    font-family: 'IBMPlexMono-Bold';
    font-size: 1.0em;
    color: gold;
}

p{
  font-family: 'IBMPlexMono-Light';
  font-size: 0.55em;
  line-height: 1.75em;
}


li{
  font-family: 'IBMPlexMono-LightItalic';
  font-size: 0.85em;
  line-height: 1.15em;
}

i{
  font-family: 'IBMPlexMono-LightItalic';
  font-size: 0.40em;
  line-height: 1.15em;

}

.fullpage img {
  width: 130%;
  /*height: 50%;*/
}

.portrait img {
  width: 55%;
  position: relative;
  margin-left: 100px;
  /*height: 50%;*/
}

.quote{
  font-family: 'IBMPlexMono-LightItalic';
  font-size: 0.85em;
  line-height: 1.15em;
}

.notes{
  font-family: "IBMPlexMono-LightItalic";
  font-size: 0.90em;
  line-height: 1.125em;
}


@font-face {
    font-family: 'IBMPlexMono-Bold';
    src:url('../font/IBMPlexMono-Bold.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-Light';
    src:url('../font/IBMPlexMono-Light.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-LightItalic';
    src:url('../font/IBMPlexMono-LightItalic.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}
