/**
 * CSS: Basics
 * https://developer.mozilla.org/en-US/docs/Web/CSS
 *
 */

body {
    margin: 60px auto;
    width: 70%;
    box-sizing: border-box;

}

.body_center{
  position: relative;
  width: 100%;
  max-width: 980px;
  margin: 5px auto 6px auto;
  padding: 0 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

h1 {
    font-family: 'IBMPlexMono-Bold';
    font-size: 3.5em;
}

h2 {
    font-family: 'IBMPlexMono-Bold';
    font-size: 2.3em;
}

h3 {
    font-family: 'IBMPlexMono-Bold';
    font-size: 2.0em;
}

p{
  font-family: 'IBMPlexMono-Light';
  font-size: 1.15em;
  line-height: 1.25em;
}

img {
  max-width: 100%;
  height: auto;
}

.notes{
  font-family: "IBMPlexMono-LightItalic";
  font-size: 0.90em;
  line-height: 1.25em;
}

.gridText1{
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-template-rows: auto;
  grid-gap: 3%;
}


@font-face {
    font-family: 'IBMPlexMono-Bold';
    src:url('../font/IBMPlexMono-Bold.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-Light';
    src:url('../font/IBMPlexMono-Light.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-LightItalic';
    src:url('../font/IBMPlexMono-LightItalic.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}
